@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white:hsl(0, 0%, 100%);
$gray:hsl(212, 45%, 89%);
$gray-blue:hsl(220, 15%, 55%);
$dark-blue:hsl(218, 44%, 22%);
$radius:20px;
$outfit:'Outfit', sans-serif;